.content{
	padding:$base-line-height 0;

	&.bg-primary{
		color: lightdark($color-primary,80%);
		background: $color-primary;

	}
	&.bg-secondary{
		color: lightdark($color-secondary,80%);
		background: $color-secondary;
	}
	&.bg-tertiary{
		color: lightdark($color-tertiary,80%);
		background: $color-tertiary;
	}
	&.bg-grey{
		color: lightdark($color-grey,80%);
		background: $color-grey;
	}
}
