footer{
	@extend .clearfix;
	background: #FBFBFA;
	border-top: 1px solid #C4CBCC;

	.footer {
		margin: 0;
		padding: 0;

		&.right{
			float: right;
		}

	  li {
	    float: left;
	    list-style: none;
	    @include font-size(14px);
	    line-height: 60px;

	    a{
	    	color: #666;
	    	display: block;
	    	padding: 0 15px;

	    	&:first-child{
	    		padding-left: 0;
	    	}

	    	&:hover{
	    		color: darken(#666,20%);
	    	}
	    }
	  }
	}
	.copyright{

	}
}
