header{
	background: $header-background;
	@extend .clearfix;

	.logo{
		display: block;
		height: 40px;
		width: 85px;
		margin:12px 40px 0 0;
		background: url('../img/logo.png') no-repeat;
		background-size:100%;
		float: left;
	}
}

nav{
	@extend .clearfix;

	.nav {
		margin: 0;
		padding: 0;

		&.right{
			float: right;
		}

	  & > li {
	    float: left;
	    list-style: none;
	    @include font-size(15px);
	    line-height: $header-height;

	    & > a{
	    	color: $header-color;
	    	display: block;
	    	padding: 0 ($header-height / 4);
	    	background: $header-background;

				&.active{
					background: lighten($header-background,5%);
				}
	    	&:hover{
	    		background: lighten($header-background,5%);
	    	}
	    }
	  }
	}
}
