header{
	background: $header-background;
	@extend .clearfix;

	.logo{
		display: block;
		height: 40px;
		width: 85px;
		margin:12px 40px 0 0;
		background: url('../img/logo.png') no-repeat;
		background-size:100%;
		float: left;
	}
}

nav{
	@extend .clearfix;

	#togglemenu{
		display: none;
	}

	.nav {
		display: block;
		margin: 0;
		padding: 0;

		&.right{
			float: right;
		}

	  & > li {
	    float: left;
	    list-style: none;
	    @include font-size(15px);
	    line-height: $header-height;

	    & > a{
	    	color: $header-color;
	    	display: block;
	    	padding: 0 ($header-height / 4);
	    	background: $header-background;

				&.active{
					background: lightdark($header-background,10%);
				}
	    	&:hover{
	    		background: lightdark($header-background,5%);
	    	}
	    }
	  }
	}

	@media (max-width: $breakpoint-s-max){

			#togglemenu{
				color: lightdark($header-background,90%);
				display: block;
				text-align: right;
				line-height: $header-height;
				padding: 0 ($header-height / 4);
			}

		  .nav{
		  	display: none;

		  	&.closed{
		  		display: none;
		  	}
		  	&.open{
		  		display: block;
		  	}

		  	&.right{
					float: none;
				}

				& > li {
		    float: none;

			    & > a{
			    	color: $header-color;
			    	display: block;
			    	padding: 0 ($header-height / 4);
			    	background: $header-background;

						&.active{
							background: lightdark($header-background,10%);
						}
			    	&:hover{
			    		background: lightdark($header-background,5%);
			    	}
			    }
			  }
		  }
		}
}
