header{
	background: #40454F;

	.logo{
		display: block;
		height: 40px;
		width: 85px;
		margin:12px 40px 0 0;
		background: url('../img/logo_mockup.png') no-repeat;
		background-size:100%;
		float: left;
	}
}

nav{
	@extend .clearfix;

	.nav {
		margin: 0;
		padding: 0;

		&.right{
			float: right;
		}

	  li {
	    float: left;
	    list-style: none;
	    @include font-size(15px);
	    line-height: 60px;

	    a{
	    	color: #fff;
	    	display: block;
	    	padding: 0 15px;

				&.active{
					background: lighten(#40454F,5%);
				}
	    	&:hover{
	    		background: lighten(#40454F,5%);
	    	}
	    }
	  }
	}
}
