/**
 * Base button styles.
 */
.button {
	font-family: $font-family-primary;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: normal;
  font-size: 100%;
  cursor: pointer;
  border: none;
  margin: 0 ($base-line-height / 2) $base-line-height 0;
  padding: 0 1rem;
  line-height: 2.5;
	outline: none;

	color: $button-color;
  background: $button-background;

	&:active,
	&:hover,
	&:focus{
		border: none;
		outline: none;
		background: lightdark($button-background,10%);
	}


	&.disabled,
	[attr="disabled"]{
		color: #666;
		background: #ccc;
		cursor: no-drop;

		&:active,
		&:hover,
		&:focus{
			cursor: no-drop;
			background: #ccc;
		}
	}

	&.primary{
		background: $button-primary;

		&:active,
		&:hover,
		&:focus{
			border: none;
			outline: none;
			background: lightdark($button-primary,10%);
		}
	}
	&.secondary{
		background: $button-secondary;

		&:active,
		&:hover,
		&:focus{
			border: none;
			outline: none;
			background: lightdark($button-secondary,10%);
		}
	}
	&.tertiary{
		background: $button-tertiary;

		&:active,
		&:hover,
		&:focus{
			border: none;
			outline: none;
			background: lightdark($button-tertiary,10%);
		}
	}


}

.button-group{
	.button{
		margin:0 0 $base-line-height 0;
	}
}
