/**
 * Base button styles.
 */
.btn {
	-webkit-font-smoothing: inherit;
	font-family: $font-family-primary;
	font-weight: normal;
  font-size: 100%;

  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 ($base-line-height / 2) $base-line-height 0;
  padding: 0 1rem;
  line-height: 2.5;

  cursor: pointer;
  outline: none;
  border: $button-border;
  border-color: $button-border-color;
  border-radius: $button-border-radius;

	text-align: center;
	text-decoration: none;
	text-shadow: none;

	color: $button-color;
  background: $button-background;

	&:active,
	&:hover,
	&:focus{
		outline: none;
		border-color: lightdark($button-border-color,10%);
		background: lightdark($button-background,5%);
	}

	// Block Button
	&.btn-block{
		display: block;
		width: 100%;
	}

	// All Buttons are block buttons on extra small
  @include bp(xs,false){	// = @media (max-width: $breakpoint-xs-max){
		& {
			display: block;
			width: 100%;
		}
	}

	// Sizes
	&.btn-xs{
		@include font-size(13px,false);
		padding: 0 0.4rem;
  	line-height: 1.5;
	}
	&.btn-s{
		@include font-size(14px,false);
		padding: 0 0.5rem;
  	line-height: 2;
	}
	&.btn-l{
		@include font-size(20px,false);
		padding: 0 2rem;
  	line-height: 2.8;
	}
	&.btn-xl{
		@include font-size(28px,false);
		padding: 0 3rem;
  	line-height: 3;
	}

	// Disabled Button
	&.btn-disabled,
	[attr="disabled"]{
		color: #666;
		background: #ccc;
		cursor: no-drop;

		&:active,
		&:hover,
		&:focus{
			cursor: no-drop;
			background: #ccc;
		}
	}


	// Color Variations
	&.btn-primary{
		@include contrasted($button-primary,darken($button-primary,80%),lighten($button-primary,80%),70%);
		border-color: $button-primary;

		&:active,
		&:hover,
		&:focus{
			border-color: lightdark($button-primary,5%);
			background: lightdark($button-primary,5%);
		}
	}
	&.btn-secondary{
		@include contrasted($button-secondary,darken($button-secondary,80%),lighten($button-secondary,80%),70%);
		border-color: $button-secondary;

		&:active,
		&:hover,
		&:focus{
			border-color: lightdark($button-secondary,5%);
			background: lightdark($button-secondary,5%);
		}
	}
	&.btn-tertiary{
		@include contrasted($button-tertiary,darken($button-tertiary,80%),lighten($button-tertiary,80%),70%);
		border-color: $button-tertiary;

		&:active,
		&:hover,
		&:focus{
			border-color: lightdark($button-tertiary,5%);
			background: lightdark($button-tertiary,5%);
		}
	}
	&.btn-primary{
		@include contrasted($button-primary,darken($button-primary,80%),lighten($button-primary,80%),70%);
		border-color: $button-primary;

		&:active,
		&:hover,
		&:focus{
			border-color: lightdark($button-primary,5%);
			background: lightdark($button-primary,5%);
		}
	}
	&.btn-success{
		@include contrasted($button-success,darken($button-success,80%),lighten($button-success,80%),70%);
		border-color: $button-success;

		&:active,
		&:hover,
		&:focus{
			border-color: lightdark($button-success,5%);
			background: lightdark($button-success,5%);
		}
	}
	&.btn-danger{
		@include contrasted($button-danger,darken($button-danger,80%),lighten($button-danger,80%),70%);
		border-color: $button-danger;

		&:active,
		&:hover,
		&:focus{
			border-color: lightdark($button-danger,5%);
			background: lightdark($button-danger,5%);
		}
	}
	&.btn-warning{
		@include contrasted($button-warning,darken($button-warning,80%),lighten($button-warning,80%),70%);
		border-color: $button-warning;

		&:active,
		&:hover,
		&:focus{
			border-color: lightdark($button-warning,5%);
			background: lightdark($button-warning,5%);
		}
	}
	&.btn-info{
		@include contrasted($button-info,darken($button-info,80%),lighten($button-info,80%),70%);
		border-color: $button-info;

		&:active,
		&:hover,
		&:focus{
			border-color: lightdark($button-info,5%);
			background: lightdark($button-info,5%);
		}
	}

	&.btn-transparent{
		color: #fff;
		background: transparent;
		border-color: #fff;

		&:active,
		&:hover,
		&:focus{
			border-color: #fff;
			background: rgba(#fff,0.1);
		}
	}

	&.btn-transparent-dark{
		color: #000;
		background: transparent;
		border-color: #000;

		&:active,
		&:hover,
		&:focus{
			border-color: #000;
			background: rgba(#000,0.1);
		}
	}

	&.btn-inverted{
		background: invert($button-primary);
		border-color: invert($button-primary);

		@include contrasted(invert($button-primary),#fff,#000);

		&:active,
		&:hover,
		&:focus{
			border-color: invert(lightdark($button-primary,10%));
			background: invert(lightdark($button-primary,5%));
		}
	}


}

// Button Groups
.btn-group{
	.btn{
		border-radius: 0;
		margin:0 0 $base-line-height 0;
	}
	.btn:first-child{
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.btn:last-child{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}
