fieldset {
	margin-bottom: $base-line-height;
	border: none;

	legend{
		color: darken($color-grey,30%);
	}
}
input, textarea, select, button {
	// -webkit-appearance: none;
	text-shadow: none;
	border-radius: $form-border-radius;
  font-family: $font-family-input;
  color: $form-color;
  @include font-size($base-font-size);

  padding: $form-padding;
  margin-bottom:$base-line-height;
  border: $form-border;

	&:active,
	&:hover{
  	outline: none;
  	border: $form-border;
  	border-color: darken($color-grey,20%);
  }

  &:focus{
  	outline: $form-outline;
  }

}

input[type=submit],
input[type=reset],
button{
	@extend .button;
}
