/**
 *
 * Dropdown
 * Basic dropdown menu - requires ext/_dropdown.js
 *
 **/
.dropdown{
	display: block;
	position: relative;

	ul.dropdown-menu{
		display: none;
		background: $header-background;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1000;
		min-width: ($header-height * 3);

		&.closed{
  		display: none;
  	}
  	&.open{
  		display: block;
  		background: lightdark($header-background,3%);
  	}


		li{
			margin: 0;
			padding: 0;
			list-style: none;
			display: block;
			float: none;
			position: relative;
			line-height: ($header-height - 10px);

			&.header{
				@include font-size(14px);
				background: lightdark($header-background,10%);
				padding: 0 ($header-height / 4);
				color: $header-color;
			}

			&.divider{
				display: block;
				height: 1px;
				background: lightdark($header-background,20%);
			}

			a{
				color: $header-color;
	    	display: block;
	    	padding: 0 15px;

				&.active{
					background: lightdark($header-background,10%);
				}
	    	&:hover{
	    		background: lightdark($header-background,5%);
	    	}

			}
		}
	}
	@media (max-width: $breakpoint-s-max){
		ul.dropdown-menu{
			min-width: 100%;
			position: relative;

			li{
				position: static;
			}
		}
	}
}
