.sidebar{
	border-right: $sidebar-border;
	text-align: right;
	margin-bottom: $base-line-height;

	.title{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
		padding: 0.5em 2em .75em 0;
		margin-top: $base-line-height;
		color: lightdark($sidebar-background,80%);

		&:first-child{
			margin-top:0;
		}
	}


	ul{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			a{
				letter-spacing: 1px;
				text-decoration: none;
				padding:0.5em 2em 0.5em 1em;
				display: block;
				border:none;
				color: lightdark($sidebar-background,50%);

				&.active,
				&:hover{
					color: lightdark($sidebar-background,70%);
					background: lightdark($sidebar-background,5%);
				}
			}
		}
	}
}
