ul.tabs{
	margin: $base-line-height 0 0;
	padding: 0 0;
	border-bottom: 1px solid #CCC;
	list-style:none;

	li{
		margin: 0;
		padding: 0;
		display: inline-block;

		a{
			display: block;
			color: $color-text-light;
			padding: 3px 10px;
			margin:0 10px -1px 0;
			border: 1px solid $color-text-light;
			border-bottom: 1px solid #ccc;
			background: #E6E6E6;
			cursor: pointer;
			text-decoration: none;

			&:hover{
				background: #fff;
			}

			&.active{
				background: #fff;
				border-bottom: 1px solid #fff;
			}
		}
	}
}
ul.tabs_content{
	margin: 0;
	padding: 0;
	list-style:none;

	li{
		display: none;
		padding: 20px 0;

		&.active{
			display: block;
		}

		/*
		&:first-child{
			display: block;
		}
		*/
	}
}
