/**
 * Tabs
 */
ul.tabs{
	margin: $base-line-height 0 0;
	padding: 0 0;
	border-bottom: 1px solid $tab-border-color;
	list-style:none;

	li{
		margin: 0;
		padding: 0;
		display: inline-block;

		a{
			display: block;
			color: $color-text;
			padding: 3px ($tab-padding / 2);
			margin:0 $tab-margin 0 0;
			margin-bottom: -$tab-border;
			border: $tab-border solid $tab-border-color;
			border-bottom: $tab-border solid $tab-border-color;
			background: $tab-background-color;
			cursor: pointer;
			text-decoration: none;

			&:hover{
				border-color: lightdark($tab-border-color,10%);
				border-bottom: none;
				background: lightdark($tab-background-color,10%);
				color: #333;
			}

			&.active{
				color: lightdark($tab-background-color,80%);
				border-bottom: $tab-border solid $tab-background-color;

				&:hover{
					background:inherit;
				}
			}
		}
	}
}
ul.tabs_content{
	margin: 0;
	padding: 0;
	list-style:none;

	li{
		display: none;
		padding: 20px 0;

		&.active{
			display: block;
		}

		/*
		&:first-child{
			display: block;
		}
		*/
	}
}
