.toaster{
	margin: 0 0;
	display: none;
	width: 100%;
	position: static;
	top:0;
	background: white;
	z-index: 200;

	.inner{
		position: relative;
		padding: ($base-line-height / 2) $grid-gutter;
	}

	&.toaster--fixed{
		position: fixed;

		.inner{
			padding: ($base-line-height / 2) ($grid-gutter / 2);
		}
	}

	&.toaster-show,
	&.toaster--close{
		display: block;
	}

	&.toaster-hide,
	&.toaster--open{
		display: none;
	}




	.title{
		@include font-size(18px);
		font-weight: bold;
		margin-right: 10px;
	}

	.close{
		cursor: pointer;
		position: absolute;
		top: 20%;
		right: $base-line-height;
		z-index: 210;
	}
}
